<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#!">
      <img class="logo" src="/assets/images/logo_pink_1.png" alt="A.tom logo" style="height: 2rem" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon" id="toggler-icon"></span>
    </button>
    <div class="offcanvas-md offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <ul class="navbar-nav">
        <% if (authUser) { %>
          <li class="nav-item my-auto">
            <a class="nav-link active" href="/freelancer-community" id="freelancer-community-page">Freelancer Comunity</a>
          </li>
          <li class="nav-item my-auto">
            <a class="nav-link active" href="/idea-market" id="idea-market-page">Idea Market</a>
          </li>
          <li class="nav-item my-auto">
            <a class="nav-link active" href="/job-market" id="idea-market-page">Jobs</a>
          </li>
          <li class="nav-item my-auto">
            <form method="POST" action="/authenticated/logout" class="nav-link my-0">
              <button type="submit" class="border-0 bg-light">Logout</button>
            </form>
          </li>
          <li class="nav-item my-auto">
            <form method="POST" action="/authenticated/<%= authUser._id%>/delete?_method=DELETE" class="nav-link my-0">
              <button type="submit" class="border-0 bg-light">Delete Account</button>
            </form>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/profiles/<%= authUser._id %> " id="profile-page">
              <img
                class="rounded-circle"
                src="<%= authUser.profile_photos_url %>"
                alt="<%= authUser.user_name %> profile photo"
                style="height: 3rem; width: 3rem; object-fit: cover;"
              />
              <p class="text-capitalize">Hi <%= authUser.user_name %></p>
            </a>
          </li>
        <% } else { %>
          <li class="nav-item my-auto">
            <a class="nav-link active" href="/authenticated/login" id="login">Login</a>
          </li>
          <li class="nav-item my-auto">
            <a class="nav-link active" href="/authenticated/register" id="register">Register</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
