<html>
  <head>
    <title>aTom | Edit Profile</title>
    <%- include('../partials/generic_head') %>
    <link rel="stylesheet" type="text/css" href="/styles/profiles_new.css">
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <div class="container-fluid personal-data-form pt-3 mx-auto justify-content-center">
      <h3 class="text-center">EDIT PROFILE</h3>
      <form
        action="/profiles/<%=profileOwner._id%>?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="row text-left px-5 row-cols-1 row-cols-lg-2 gx-1">

          <div class="card col mb-4">

            <div class="card-body form-outline profile-photo-container">
              <img class="preview-profile-photo w-100 d-block" src="<%=profileOwner.profile_photos_url%>" alt="profile-photo">
              <div class="input-photo">
                <input type="text" name="profile_photos_url" value="<%=profileOwner.profile_photos_url%>" class="form-control input-profile-photo-url"/>
                <label class="form-label" for="profile_photos_url">Profile Photo URL or Upload a Photo</label>
                <!-- NOTE: UPLOAD IMAGE :  -->
                <div class="input-group">
                  <input id="files" name="upload_profile_photos_url" class="files input-profile-photo-file" type="file" />
                </div>
              </div>
            </div>
            <div class="card-body form-outline cover-photo-container">
              <img class="preview-cover-photo w-100 d-block" src="<%=profileOwner.cover_photos_url%>" alt="cover-photo">
              <div class="input-photo">
                <input type="text" name="cover_photos_url" value="<%=profileOwner.cover_photos_url%>" class="form-control input-cover-photo-url"/>
                <label class="form-label" for="cover_photos_url">cover Photo URL or Upload a Photo</label>
                <!-- NOTE: UPLOAD IMAGE :  -->
                <div class="input-group">
                  <input id="files" name="upload_cover_photos_url" class="files input-cover-photo-file" type="file" />
                </div>
              </div>
            </div>

            <% if (profileOwner.isFreelancer) { %>
              <div class="card-body form-outline">
                <input type="text" name="linkedIn" class="form-control" value="<%=profileOwner.linkedIn%>"/>
                <label class="form-label" for="linkedIn">linkedIn Link</label>
              </div>
              <div class="card-body form-outline input-skill-container">
                <label class="form-label" for="skills">List of Your skills</label>
                <input type="text" name="skills" class="form-control input-skill"/>
                <div class="current-skills-container">
                  <div>Current Skills:</div>
                  <ul class="container list-inline px-0">
                    <% profileOwner.skills.forEach((skill, skillIndex) => { %>
                      <form action="/profiles/<%= profileOwner._id %>/<%= skillIndex %>/delete-skill?_method=DELETE" method="POST">
                        <button class="btn-delete border-0 bg-white p-1">
                          <i class="fa-solid fa-trash-can"></i>
                          <li class="list-inline-item mx-0 rounded"><%= skill %></li>
                        </button>
                      </form>
                    <% }) %>
                  </ul>
                </div>
              </div>
            <% } %> 
          </div>

          <div class="card col mb-4">
            <div class="card-body form-outline">
              <input type="text" name="city" value="<%=profileOwner.city%>" class="form-control" placeholder="City"/>
              <label class="form-label" for="city">City</label>
            </div>
            <div class="card-body form-outline">
              <input type="text" name="postal_code" value="<%=profileOwner.postal_code%>" class="form-control" placeholder="Postal code"/>
              <label class="form-label" for="postal_code">Postal Code</label>
            </div>
            <div class="card-body form-outline">
              <input type="text" name="job_title" value="<%=profileOwner.job_title%>" class="form-control" placeholder="If you provied valious job, please separated by '|' "/>
              <label class="form-label" for="job_title">Job Title</label>
            </div>
            <div class="card-body form-outline">
              <input type="text" name="about_me" value="<%=profileOwner.about_me%>" class="form-control" placeholder="About me"/>
              <label class="form-label" for="about_me">About me</label>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-submit mb-4 max-auto">
            Submit
          </button>
        </div>
      </form>
    </div>
    <%- include('../partials/footer.ejs') %>
    <script src="/js/profile.js"></script>
  </body>
</html>