<html>
    <head>
      <title>aTom | Project</title>
      <link rel="stylesheet" type="text/css" href="/styles/project_detail.css">
      <%- include('../partials/generic_head') %>
    </head>
    <body>
      <%- include('../partials/navbar') %>
      <div class="container mt-5 ">
        <div class="row">
          <figure class="user-profile-box col-sm-2 mb-0">
              <img class="user-profile-image img-fluid" src="https://i.pinimg.com/564x/ca/7c/61/ca7c61756513e98ef376c7c10e82ba23.jpg" alt="user-profile-photo">
              <p class="mb-0">Clara J</p>
              <div>
                <a href="#">
                  <i class="fa-regular fa-message"></i>
                </a>
                <button class="btn border-0 mail">
                  <a href="mailto:grumpy.cat@emeow.com">
                    <i class="fa-regular fa-envelope-open"></i>
                  </a>
                </button>
              </div>
          </figure>
          <div class="project-title col-sm-9">
            <h2><%= projectDetail?.project_name %></h2>
            <div>
              <h6>Provided Skill</h6>
              <ul class="container list-inline px-0">
                <% projectDetail?.skills.forEach((skill) => { %>
                  <li class="list-inline-item mx-0 rounded-3"><%= skill %></li>
                <% }) %>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-fluid mt-5">
          <h3>Project Description:</h3>
          <%= projectDetail?.project_description %>
        </div>
        <div class="container-fluid">
          <h3>Project photos:</h3>
          <div class="project-photos">
            <% projectPhotos.forEach((photo) => { %>
              <div class="project-photo">
                <img src="<%= photo?.photo_url %>" alt="photo-1">
                <p class="photo-name">Random photo</p>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
      <%- include('../partials/footer.ejs') %>
    </body>
</html>