<html>
  <head>
    <title>aTom | Project</title>
    <link rel="stylesheet" type="text/css" href="/styles/projects.css">
    <%- include('../partials/generic_head') %>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <div class="container mt-5 ">
      <div class="container-fluid">
        <div class="project-title row">
          <div class="d-flex">
            <h2 class="mr-auto"><%= project.project_name %></h2>
            <a href="#">
              <i class="fa-solid fa-file-pen"></i>
            </a>
          </div>
          <figure class="user-profile-box mb-0">
            <a href="/profiles/<%= project.user_id._id%>">
              <img class="user-profile-image" src="<%= project.user_id.profile_photos_url%>" alt="<%= project.user_id.user_name%>  profile photo">
            </a>
            <div>
              <div class="stars-outer">
                <div class="stars-inner" style="width:80%"></div>
              </div>
              <div>
                <p class="mb-0"><%= project.user_id.user_name%></p>
                <a href="#">
                  <i class="fa-solid fa-message"></i>
                </a>
                <a href="mailto:<%= project.user_id.email%>">
                  <i class="fa-solid fa-envelope"></i>
                </a>
              </div>
            </div>
          </figure>
          <div class="mt-3">
            <h6>Provided Skill</h6>
            <ul class="container list-inline px-0">
              <% project?.skills.forEach((skill) => { %>
                <li class="list-inline-item mx-0 rounded"><%= skill %></li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
      <div class="container-fluid mt-5">
        <h3>Project Description:</h3>
        <%= project.project_description %>
      </div>
      <div class="container-fluid mt-5">
        <h3>Project photos:</h3>
        <div class="project-photos">
          <% projectPhotos.forEach((photo) => { %>
            <div class="project-photo">
              <img class="d-block w-100" src="<%= photo?.photo_url %>" alt="photo-1">
              <p class="photo-name">Random photo</p>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>