<html>
  <head>
    <title>aTom | Job</title>
    <%- include('../partials/generic_head') %>
    <link rel="stylesheet" type="text/css" href="/styles/jobs.css">
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <div class="container mt-5 ">
      <div class="container-fluid">
        <div class="job-title row">
          <div class="d-flex">
            <h2 class="mr-auto"><%= job.job_title %></h2>
            <% if (profileOwner._id == authenticatedUser._id) { %>
              <a href="/jobs/<%= job._id %>/edit">
                <i class="fa-solid fa-file-pen"></i>
              </a>
            <% } %> 
          </div>
          <figure class="user-profile-box mb-0">
            <a href="/profiles/<%= job.author_id._id %>">
              <img class="user-profile-image" src="<%= job.author_id.profile_photos_url %>" alt="<%= job.author_id.user_name %>  profile photo">
            </a>
            <div>
              <div>
                <p class="mb-0"><%= job.author_id.user_name %></p>
                <a href="/profiles/<%= job.author_id._id %> ">
                  <i class="fa-solid fa-message"></i>
                </a>
                <a href="mailto:<%= job.author_id.email %>">
                  <i class="fa-solid fa-envelope"></i>
                </a>
              </div>
            </div>
          </figure>
          <div class="mt-3">
            <h6>Provided Skill</h6>
            <ul class="container list-inline px-0">
              <% job.skills.forEach((skill) => { %>
                <li class="list-inline-item mx-0 rounded"><%= skill %></li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
      <div class="container-fluid mt-5">
        <h3>Job Description:</h3>
        <%= job.job_description %>
      </div>
      <div class="container-fluid mt-5">
        <h3>Initial photos of This job:</h3>
        <div class="job-photos">
          <% job.photos.forEach((photo) => { %>
            <div class="job-photo">
              <img class="d-block w-100" src="<%= photo %>" alt="photo of job <%= job.job_name %>">
            </div>
          <% }) %>
        </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>